.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container tr {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container tr:hover {
    background-color: #dddddd;
}

.container td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 2rem;
    border: 1px solid black;
}
.container th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #eee;
    color: #333;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #eee;
    color: #333;
}
.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #eee;
}
.searchButton:hover {
    background-color: #ccc;
    cursor: pointer;
}