.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    background-color: var(--brand-color-secondary-0);
    color: var(--brand-color-primary-0);
}

.form button {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    background-color: var(--brand-color-primary-0);
    cursor: pointer;
}
.form button:hover {
    background-color: var(--brand-color-primary-1);
}


.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.field label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.field input {
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

.error {
    color: var(--feedback-color-danger-3);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}