.gridContainer {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'form table table table table table'
        'footer footer footer footer footer footer';
    gap: 1rem;
    padding: 2rem;
}
.item1 {
    grid-area: header;
    border: 2px solid red;
}
.item2 {
    grid-area: form;
}
.item3 {
    grid-area: table;
    background: white;
    border-radius: 0.4rem !important;
}
.item4 {
    grid-area: footer;
    border: 2px solid yellow;
}