.gridContainer {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas: 
        'form form table table table table'
        'form form firstName firstName firstName averageAge'
        'form form firstName firstName firstName toggleAdults';
    gap: 1rem;
    padding: 2rem;
}
.averageAge { grid-area: averageAge; }
.form { grid-area: form; }
.table { grid-area: table; }
.firstName { grid-area: firstName; }
.toggleAdults { grid-area: toggleAdults; }

.averageAge .title,
.firstName h3 {
    color: var(--brand-color-primary-0);
    background-color: var(--brand-color-secondary-0);
    padding: 0.5rem;
}

.averageAge .value {
    background-color: var(--brand-color-secondary-1);
    color: var(--neutral-color-5);
    padding: 0.5rem;
}
.firstNameList {
    background-color: var(--brand-color-secondary-1);
    color: var(--neutral-color-5);
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    height: 20rem;
    overflow-y: scroll;
}
.firstNameList p {
    padding: 1rem 0;
}